* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: black;
}

body {
	background-color: grey;
	font-family: Tahoma;
}

.wrapper {
	margin: auto;
	margin-top: 50px;
	padding: 10px;
	width: 380px;
	background-color: white;
}

.frame {
	box-sizing: border-box;
	width: 380px;
	border: 2px solid #5a5a5a;
}

.LabelHead {
	padding-top: 10px;
	font-size: 18px;
	text-align: center;
	font-weight: normal;
	word-spacing: 2px;
}

img {
	box-sizing: border-box;
	margin-left: 65px;
	margin-top: 23px;
}

button {
	display:block;
	margin-right: auto;
	margin-top: 0;
	width: 190px;
	height: 35px;
	text-align: center;
	background-color: #8bc144;
	-webkit-box-shadow: -3px 3px 0px -1px rgba(156,156,156,0.85);
	-moz-box-shadow: -3px 3px 0px -1px rgba(156,156,156,0.85);
	box-shadow: -3px 3px 0px -1px rgba(156,156,156,0.85);
	color: white; 
	font-size: 24px;
}


.price {
	margin-left:82px;
	margin-top: 1px;
	padding-top: 10px;
	width: 228px;
	font-size: 31px;
	text-align: center;
}

a  {
	display: block;
	width: 225px;
	height: 40px;
	margin-top: 15px;
	margin-left: 64px;
	margin-bottom: 5px;
	padding-top: 5px;
	font-size: 28px;
	color: white;
	text-align: center;
	text-shadow: -1px 1px 1px black;
	background-color: #E93F33;
	box-shadow: 0px 4px 0px 0px rgba(133,0,0,1);
}